<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vineeth Todo Manager</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
  </head>
  <body>
    <!-- <h1>Todo Manager</h1> -->
    <!-- for reuse the created common ejs file like header and footer  -->
    <%- include("header.ejs") %>
    <br />
    <%- include("todos.ejs") %> <%- include("footer.ejs") %>
  </body>
</html>
